html, body { height: 100%; width: 100%; margin: 0; }

.gx_stage {
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.gx_hero {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 1px;
    line-height: 1px;
}

.gx_hero_plain {
    background: red;
    width: 50px;
    height: 50px;
    margin-top: -50px;
    margin-left: -25px;
}

.gx_missile, .gx_missile_running {
    width: 3px;
    height: 10px;
    background: orange;
    margin: 0  auto;
}

.gx_missile_running {
    position: absolute;
}

.gx_enemy_row{
    height: 40px;
    width: 500px;
    margin: 0 auto 5px;
}

.gx_enemy_place{
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 5px;
}

.gx_enemy_place div{
    width: 40px;
    height: 40px;
}

.gx_enemy_general{
    background: red;
}

.gx_enemy_colonel{
    background: orange;
}

.gx_enemy_major{
    background: green;
}

.gx_enemy_soldier{
    background: blue;
}
