html, body { height: 100%; width: 100%; margin: 0; }

.gx_stage {
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.gs_hero {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 1px;
    line-height: 1px;
}

.gs_hero_plain {
    background: red;
    width: 50px;
    height: 50px;
    margin-top: -50px;
    margin-left: -25px;
}

.gs_missile {
    width: 3px;
    height: 10px;
    background: orange;
    margin: 0  auto;
}